{%- style -%}
  @media only screen and (max-width: 600px) {
    .multicolumn_section {
      display: flex;
      row-gap: 50px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .heading_container {
      width: 85%;
      display: flex;
      flex-flow: column;
    }
    .flex_container {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .rectangle_column {
      width: 90%;
    }
    .column {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .column_title {
      width: 90%;
    }
    .column_subtitle {
      display: flex;
      justify-content: start;
      width: 90%;
    }
    .description,
    .list {
      padding: 0;
      width: 90%;
    }

    .button_container {
      display: flex;
      gap: 20px;
      justify-content: center;
      width: 100%;
      padding-bottom: 40px;
      flex-wrap: wrap;
    }
    .button_add {
      width: 206px;
      height: 45px;
    }
    .button_other {
      width: 206px;
      height: 45px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    .multicolumn_section {
      display: flex;
      row-gap: 50px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .heading_container {
      width: 91%;
      display: flex;
      flex-flow: column;
    }
    .flex_container {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .rectangle_column {
      width: 45%;
    }
    .column {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .column_title {
      width: 90%;
    }
    .column_subtitle {
      display: flex;
      justify-content: start;
      width: 90%;
    }
    .description,
    .list {
      padding: 0;
      width: 90%;
    }
    .button_container {
      display: flex;
      gap: 70px;
      justify-content: center;
      width: 100%;
      padding-bottom: 40px;
    }
    .button_add {
      width: 206px;
      height: 45px;
    }
    .button_other {
      width: 206px;
      height: 45px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .multicolumn_section {
      display: flex;
      row-gap: 50px;
      justify-content: center;
      flex-wrap: wrap;
    }
    .heading_container {
      width: 91%;
      display: flex;
      flex-flow: column;
    }
    .flex_container {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .rectangle_column {
      width: 45%;
    }
    .column {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .column_title {
      width: 90%;
    }
    .column_subtitle {
      display: flex;
      justify-content: start;
      width: 90%;
    }
    .description,
    .list {
      padding: 0;
      width: 90%;
    }
    .button_container {
      display: flex;
      gap: 70px;
      justify-content: center;
      width: 100%;
      padding-bottom: 40px;
    }
    .button_add {
      width: 206px;
      height: 45px;
    }
    .button_other {
      width: 206px;
      height: 45px;
    }
  }
  .section_title {
    font-family: Assistant;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .Line-3 {
    width: 67px;
    height: 0.5px;
    border: solid 5px #591311;
  }
  .description_title {
    font-family: Assistant;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .description {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .column_title {
    font-family: Assistant;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .column_subtitle {
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #101010;
  }
  .column li::marker,
  .description li::marker {
    content: '✓';
    color: black;
    font-weight: bold;
  }
  .column li {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #101010;
  }
  .rectangle_column {
    box-shadow: 10px 32px 72px 0 rgba(51, 51, 51, 0.06);
    background-color: #fff;
  }
  .button_add {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #fbb612;
  }
  .button_other {
    border: solid 1px #fbb612;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: transparent;
  }
{%- endstyle -%}

{%- liquid

-%}
<div class="multicolumn_section">
  <div class="flex_container">
    <div class="heading_container">
      <h3 class="section_title"><strong>DESCRIEREA CURSULUI</strong></h3>
      <div class="Line-3"><hr></div>
      <h4 class="description_title"><strong>Cui îi este destinat acest modul?</strong></h4>
      <ul class="description">
        <li>
          Oricărui antrenor, preparator, instructor, sau părinte care este implicat în pregătirea sportivă a tinerilor.
        </li>
      </ul>
      <h4 class="description_title"><strong>Ce vei învăța în acest modul?</strong></h4>
      <ul class="description">
        <li>Cum să maximizezi potențialul de reușită a tinerilor sportivi antrenându-i metodic.</li>
      </ul>
    </div>
    <div class="rectangle_column">
      <div class="column">
        <h4 class="column_title"><strong>1.GENERALITĂȚI</strong></h4>
        <ul class="list">
          <li>Antrenamentul sportiv: proces educativ sau proces de adaptări fiziologice?</li>
          <li>Sportivi: tipuri de personalități întâlnite și modalități de abordare.</li>
          <li>Antrenorul: pedagogia și comunicarea în sport</li>
        </ul>
      </div>
    </div>
    <div class="rectangle_column">
      <div class="column">
        <h4 class="column_title"><strong>2.ETAPELE DEZVOLTĂRII SPORTIVE</strong></h4>
        <ul class="list">
          <li>Vârstele etapelor în diferite sporturi</li>
          <li>Inițierea</li>
          <li>Formarea</li>
          <li>Specializarea</li>
          <li>Înalta performanță</li>
        </ul>
      </div>
    </div>
    <div class="rectangle_column">
      <div class="column">
        <h4 class="column_title"><strong>3.PREGĂTIREA GENERALĂ vs. SPECIALIZAREA TIMPURIE</strong></h4>
        <ul class="list">
          <li>Diferențe și rezultate obținute cu Modelul Rusesc vs. Modelul American</li>
          <li>
            Decizia Chinei în anul 2020 de a forma unele loturi naționale în funcție de rezultatele testelor fizice
            generale, ignorând rezultatele obținute de sportivi în competiții.
          </li>
          <li>
            Fenomenul puseului de creștere a unor tineri sportivi în perioada izolării cauzată de pandemia de Covid.
            Cauze și concluzii
          </li>
        </ul>
      </div>
    </div>
    <div class="rectangle_column">
      <div class="column">
        <h4 class="column_title">
          <strong>4. ANTRENAREA TINERILOR SPORTIVI RESPECTÂND ETAPELE ACESTORA DE DEZVOLTARE.</strong>
        </h4>
        <h5 class="column_subtitle"><strong>Teorie si practică:</strong></h5>
        <ul class="list">
          <li>Antrenarea deprinderilor motrice.</li>
          <li>Antrenarea mobilității</li>
          <li>Antrenarea forței și puterii</li>
          <li>Antrenarea rezistenței</li>
          <li>Antrenarea vitezei</li>
          <li>Competițiile sportive</li>
          <li>Planuri de pregătire pe termen lung</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="button_container">
    <button class="button_add">
      <a
        role="link"
        aria-disabled="true"
        href="#"
      ></a
      >Adaugă în coș
    </button>
    <button class="button_other">
      <a
        role="link"
        aria-disabled="true"
        href="#"
      ></a
      >Alte Cursuri
    </button>
  </div>
</div>
{% schema %}
{
  "name": "ISCI multi cols section",
  "class": "section",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "ISCI multi cols section",
      "blocks": []
    }
  ]
}
{% endschema %}
