{%- style -%}
  .w-95 {
    width: 95% !important;
  }

  .w-100 {
    width: 100% !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .multicolumn_section {
    display: flex;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .multicolumn_flex_container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .multicolumn_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .multicolumn_column_title {
    width: 90%;
  }
  .multicolumn_column_subtitle {
    display: flex;
    justify-content: start;
    width: 90%;
  }
  .multicolumn_heading {
    width: 95%;
    display: flex;
    flex-flow: column;
  }
  .heading_description,
  .multicolumn_list {
    padding: 0;
    width: 90%;
  }
  .section_title {
    font-family: Assistant;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .Line-3 {
    width: 67px;
    height: 0.5px;
    border: solid 5px #591311;
  }
  .heading_description_title {
    font-family: Assistant;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .heading_description {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .multicolumn_column_title {
    font-family: Assistant;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .multicolumn_column_subtitle {
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #101010;
  }
  .multicolumn_column li::marker,
  .heading_description li::marker {
    content: '✓';
    color: black;
    font-weight: bold;
  }
  .multicolumn_column li {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #101010;
  }
  .multicolumn_rectangle_column {
    box-shadow: 10px 32px 72px 0 rgba(51, 51, 51, 0.06);
    background-color: #fff;
    width: 45%;
  }
  .multicolumn_button_container {
    display: flex;
    gap: 70px;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
  }
  .multicolumn_button_add {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #fbb612;
    width: 206px;
    height: 45px;
  }
  .multicolumn_button_other {
    border: solid 1px #fbb612;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: transparent;
    width: 206px;
    height: 45px;
  }

  @media only screen and (max-width: 768px) {
    .multicolumn_heading {
      width: 85%;
      display: flex;
      flex-flow: column;
    }
    .multicolumn_rectangle_column {
      width: 90%;
    }
    .multicolumn_button_container {
      display: flex;
      gap: 20px;
      justify-content: center;
      width: 100%;
      padding-bottom: 40px;
      flex-wrap: wrap;
    }
  }
{%- endstyle -%}

{%- liquid

-%}
<div class="multicolumn_section page-width isci-padding-y">
  <div class="multicolumn_flex_container">
    <div class="multicolumn_heading">
      <div class="multicolumn_column">
        <h3 class="section_title w-95"><strong>DESCRIEREA CURSULUI</strong></h3>
        <div class="w-95">
          <div class="Line-3"><hr class="no-margin"></div>
        </div>
        <h4 class="heading_description_title w-95"><strong>Cui îi este destinat acest modul?</strong></h4>
        <ul class="heading_description w-95">
          <li>
            Oricărui antrenor, preparator, instructor, sau părinte care este implicat în pregătirea sportivă a
            tinerilor.
          </li>
        </ul>
        <h4 class="heading_description_title w-95"><strong>Ce vei învăța în acest modul?</strong></h4>
        <ul class="heading_description w-95">
          <li>Cum să maximizezi potențialul de reușită a tinerilor sportivi antrenându-i metodic.</li>
        </ul>
      </div>
    </div>
    <div class="multicolumn_rectangle_column">
      <div class="multicolumn_column">
        <h4 class="multicolumn_column_title"><strong>1.GENERALITĂȚI</strong></h4>
        <ul class="multicolumn_list">
          <li>Antrenamentul sportiv: proces educativ sau proces de adaptări fiziologice?</li>
          <li>Sportivi: tipuri de personalități întâlnite și modalități de abordare.</li>
          <li>Antrenorul: pedagogia și comunicarea în sport</li>
        </ul>
      </div>
    </div>
    <div class="multicolumn_rectangle_column">
      <div class="multicolumn_column">
        <h4 class="multicolumn_column_title"><strong>2.ETAPELE DEZVOLTĂRII SPORTIVE</strong></h4>
        <ul class="multicolumn_list">
          <li>Vârstele etapelor în diferite sporturi</li>
          <li>Inițierea</li>
          <li>Formarea</li>
          <li>Specializarea</li>
          <li>Înalta performanță</li>
        </ul>
      </div>
    </div>
    <div class="multicolumn_rectangle_column">
      <div class="multicolumn_column">
        <h4 class="multicolumn_column_title"><strong>3.PREGĂTIREA GENERALĂ vs. SPECIALIZAREA TIMPURIE</strong></h4>
        <ul class="multicolumn_list">
          <li>Diferențe și rezultate obținute cu Modelul Rusesc vs. Modelul American</li>
          <li>
            Decizia Chinei în anul 2020 de a forma unele loturi naționale în funcție de rezultatele testelor fizice
            generale, ignorând rezultatele obținute de sportivi în competiții.
          </li>
          <li>
            Fenomenul puseului de creștere a unor tineri sportivi în perioada izolării cauzată de pandemia de Covid.
            Cauze și concluzii
          </li>
        </ul>
      </div>
    </div>
    <div class="multicolumn_rectangle_column">
      <div class="multicolumn_column">
        <h4 class="multicolumn_column_title">
          <strong>4. ANTRENAREA TINERILOR SPORTIVI RESPECTÂND ETAPELE ACESTORA DE DEZVOLTARE.</strong>
        </h4>
        <h5 class="multicolumn_column_subtitle"><strong>Teorie si practică:</strong></h5>
        <ul class="multicolumn_list">
          <li>Antrenarea deprinderilor motrice.</li>
          <li>Antrenarea mobilității</li>
          <li>Antrenarea forței și puterii</li>
          <li>Antrenarea rezistenței</li>
          <li>Antrenarea vitezei</li>
          <li>Competițiile sportive</li>
          <li>Planuri de pregătire pe termen lung</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="multicolumn_button_container">
    <button class="multicolumn_button_add">
      <a
        role="link"
        aria-disabled="true"
        href="#"
      ></a
      >Adaugă în coș
    </button>
    <button class="multicolumn_button_other" type="button">Alte Cursuri</button>
  </div>
</div>
{% schema %}
{
  "name": "ISCI multi cols section",
  "class": "section",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "ISCI multi cols section",
      "blocks": []
    }
  ]
}
{% endschema %}
