{%- style -%}
  .text_image_section {
    display: flex;
    width: 100%;
  }
  .image_container {
    width: 20%;
    object-fit: contain;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    margin-left: 30px;
  }
  .image_container img {
    width: 215px;
    height: 300px;
  }
  .rectangle_container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    background-color: #fafafa;
    margin-left: -80px;
  }
  .rectangle_container_heading,
  .rectangle_container_subtitle {
    display: flex;
    width: 80%;
    align-items: flex-end;
  }
  .heading {
    font-family: Assistant;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    color: #101010;
    text-decoration: underline;
  }
  .subtitle {
    font-family: Assistant;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.14px;
    color: #101010;
  }
  .competency {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .competency_column {
    width: 50%;
  }
  .competency_column_title {
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #101010;
  }
  .competency_column_subtitle,
  .competency_column_list {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #101010;
  }
  .no-margin {
    margin: 0 !important;
  }
  @media only screen and (max-width: 768px) {
    .text_image_section {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 50px 0;
    }
    .image_container {
      object-fit: contain;
      display: flex;
      width: 80%;
      position: unset;
      z-index: unset;
      margin: 0;
      justify-content: center;
    }
    .image_container img {
      width: unset;
      height: unset;
    }
    .rectangle_container {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 20px;
      background-color: #fafafa;
      position: inherit;
      margin: 0;
    }
    .competency_column {
      width: 100%;
    }
  }
{%- endstyle -%}
<div class="text_image_section page-width isci-padding-y">
  <div class="image_container">
    <img src="{{ section.settings.image | img_url: 'master' }}">
  </div>
  <div class="rectangle_container">
    <div class="rectangle_container_heading">
      <h3 class="heading no-margin">{{ section.settings.title }}</h3>
    </div>
    <div class="rectangle_container_subtitle">
      <h5 class="subtitle no-margin">{{ section.settings.subtitle }}</h5>
    </div>
    {{ section.settings.content }}
    {% comment %}
      <div class="competency">
        <div class="competency_column">
          <h6 class="competency_column_title no-margin">Fitness</h6>
          <p class="competency_column_subtitle no-margin">Răzvan Gabriel Ion, Men's Physique:</p>
          <ul class="competency_column_list">
            <li>locul 1 la Campionatul Balcanic, 2020;</li>
            <li>locul 1 la Grand Prix Pro Nutrition, 2020;</li>
            <li>locul 1 la Campionatul Balcanic, 2021.</li>
          </ul>
        </div>
        <div class="competency_column">
          <h6 class="competency_column_title no-margin">Tenis</h6>
          <ul class="competency_column_list">
            <li>Echipa României de Cupa Davis</li>
            <li>Horia Tecău (locul 1 mondial ATP Doubles)</li>
            <li>Marius Copil (locul 56 mondial ATP)</li>
            <li>Gabriela Ruse (locul 57 mondial WTA)</li>
          </ul>
        </div>
        <div class="competency_column">
          <h6 class="competency_column_title no-margin">Gimnastică</h6>
          <ul class="competency_column_list">
            <li>Lotul Român de Gimnastică Artistică Masculină</li>
            <li>Lotul Român de Gimnastică Artistică Feminină</li>
          </ul>
        </div>
        <div class="competency_column">
          <h6 class="competency_column_title no-margin">Atletism</h6>
          <ul class="competency_column_list">
            <li>Rareș Toader, aruncarea greutății, (locul 22 mondial)</li>
          </ul>
        </div>
      </div>
    {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "ISCI text with image",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.isci-text-with-image.settings.image.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.isci-text-with-image.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.isci-text-with-image.settings.subtitle.label"
    },

    {
      "type": "html",
      "id": "content",
      "label": "t:sections.isci-text-with-image.settings.content.label"
    }
  ],
  "presets": [
    {
      "name": "ISCI text with image",
      "blocks": []
    }
  ]
}
{% endschema %}
