{%- style -%}
  @media only screen and (max-width: 600px) {
    .multicolumn_section {
      padding: 19px 36px;
    }
    .section_title {
      margin-left: 15px;
    }
    .Line-3 {
      margin: 13px 0 50px 15px;
    }
    .description_1_title {
      margin-left: 15px;
    }
    .description_1 {
      padding-left: 30px;
    }
    .description_2_title {
      margin-left: 15px;
    }
    .description_2 {
      padding-left: 30px;
    }
    .column_1_title,
    .column_2_title {
      margin-left: 15px;
    }
    .column_3_title {
      margin: 25px 0 30px 15px;
    }
    .column_4_title {
      margin: 25px 0 0 15px;
    }
    .column_4_subtitle {
      margin: 5px 0 30px 15px;
    }
    .column_1 {
      width: 295px;
      height: 300px;
    }
    .column_1 li {
      margin-bottom: 5px;
    }
    .rectangle_column_1 {
      width: 290px;
      height: 315px;
      margin-bottom: 30px;
    }
    .column_2 {
      width: 290px;
      height: 225px;
    }
    .column_2 li {
      margin-bottom: 5px;
    }
    .rectangle_column_2 {
      width: 290px;
      height: 315px;
      margin-bottom: 30px;
    }
    .column_3 {
      width: 285px;
      height: 400px;
    }
    .column_3 li {
      margin: 0 10px 5px 0;
    }
    .rectangle_column_3 {
      width: 290px;
      height: 510px;
      margin-bottom: 30px;
    }
    .column_4 {
      width: 290px;
      height: 400px;
    }
    .column_4 li {
      margin-bottom: 5px;
    }
    .rectangle_column_4 {
      width: 290px;
      height: 510px;
    }
    .button_add {
      width: 206px;
      height: 45px;
      margin: 62px 0 0 45px;
      padding: 11px 46px 10px 43px;
    }
    .button_other {
      width: 206px;
      height: 45px;
      margin: 10px 0 0 45px;
      padding: 11px 46px 10px 43px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    .multicolumn_section {
      padding: 19px 36px;
      height: 1305px;
    }
    .section_title {
      margin-left: 45px;
    }
    .Line-3 {
      margin: 13px 0 50px 45px;
    }
    .description_1_title {
      margin-left: 45px;
    }
    .description_1 {
      padding-left: 60px;
    }
    .description_2_title {
      margin: 33px 60px 14px 45px;
    }
    .description_2 {
      margin: 0 0 61px 15px;
    }
    .column_1_title,
    .column_2_title {
      margin-left: 36px;
    }
    .column_3_title {
      margin: 15px 0 60px 36px;
    }
    .column_4_title {
      margin: 15px 0 0 36px;
    }
    .column_4_subtitle {
      margin: 0 36px;
    }
    .column_1 {
      width: 475px;
      height: 225px;
      margin-left: 15px;
    }
    .column_1 li {
      margin: 5px 0 0 8px;
    }
    .rectangle_column_1 {
      width: 500px;
      height: 250px;
      margin-bottom: 30px;
    }
    .column_2 {
      width: 475px;
      height: 225px;
      margin-left: 6px;
    }
    .column_2 li {
      margin: 5px 0 0 8px;
    }
    .rectangle_column_2 {
      width: 500px;
      height: 250px;
      margin-left: 45px;
    }
    .column_3 {
      width: 475px;
      height: 400px;
    }
    .column_3 li {
      margin: 5px 0 0 8px;
    }
    .rectangle_column_3 {
      width: 500px;
      height: 380px;
    }
    .column_4 {
      width: 475px;
      height: 400px;
    }
    .column_4 li {
      margin: 7px 16px 0 8px;
    }
    .rectangle_column_4 {
      width: 500px;
      height: 380px;
      margin-left: 45px;
    }
    .button_add {
      width: 206px;
      height: 45px;
      margin: 62px 0 0 295px;
      padding: 11px 46px 10px 43px;
    }
    .button_other {
      width: 206px;
      height: 45px;
      margin: 10px 0 0 40px;
      padding: 11px 46px 10px 43px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .multicolumn_section {
      padding: 19px 36px;
      height: 1305px;
    }
    .section_title {
      margin-left: 270px;
    }
    .Line-3 {
      margin: 13px 0 50px 270px;
    }
    .description_1_title {
      margin: 0 0 14px 270px;
    }
    .description_1 {
      margin: 0 0 33px 245px;
    }
    .description_2_title {
      margin: 0 60px 14px 270px;
    }
    .description_2 {
      margin: 0 400px 61px 245px;
    }
    .column_1_title,
    .column_2_title {
      margin-left: 36px;
    }
    .column_3_title {
      margin: 15px 0 60px 36px;
    }
    .column_4_title {
      margin: 15px 0 0 36px;
    }
    .column_4_subtitle {
      margin: 0 36px;
    }
    .column_1 {
      width: 475px;
      height: 225px;
      margin-left: 15px;
    }
    .column_1 li {
      margin: 5px 0 0 8px;
    }
    .rectangle_column_1 {
      width: 500px;
      height: 250px;
      margin: 0 0 30px 220px;
    }
    .column_2 {
      width: 475px;
      height: 225px;
      margin-left: 6px;
    }
    .column_2 li {
      margin: 5px 0 0 8px;
    }
    .rectangle_column_2 {
      width: 500px;
      height: 250px;
      margin-left: 45px;
    }
    .column_3 {
      width: 475px;
      height: 400px;
    }
    .column_3 li {
      margin: 5px 0 0 8px;
    }
    .rectangle_column_3 {
      width: 500px;
      height: 380px;
      margin: 0 0 30px 220px;
    }
    .column_4 {
      width: 475px;
      height: 400px;
    }
    .column_4 li {
      margin: 7px 16px 0 8px;
    }
    .rectangle_column_4 {
      width: 500px;
      height: 380px;
      margin-left: 45px;
    }
    .button_add {
      width: 206px;
      height: 45px;
      margin: 62px 0 0 515px;
      padding: 11px 46px 10px 43px;
    }
    .button_other {
      width: 206px;
      height: 45px;
      margin: 62px 0 0 40px;
      padding: 11px 46px 10px 43px;
    }
  }
  .flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  .section_title {
    font-family: Assistant;
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .Line-3 {
    width: 67px;
    height: 0.5px;
    border: solid 5px #591311;
  }
  .description_1_title,
  .description_2_title {
    font-family: Assistant;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .description_1,
  .description_2 {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .column_1_title,
  .column_2_title,
  .column_3_title,
  .column_4_title {
    font-family: Assistant;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;
  }
  .column_4_subtitle {
    font-family: Assistant;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #101010;
  }
  .column_1 li::marker,
  .column_2 li::marker,
  .column_3 li::marker,
  .column_4 li::marker,
  .description_1 li::marker,
  .description_2 li::marker {
    content: '✓';
    color: black;
    font-weight: bold;
  }
  .column_1 li,
  .column_2 li,
  .column_3 li,
  .column_4 li {
    font-family: Assistant;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #101010;
  }
  .rectangle_column_1,
  .rectangle_column_2,
  .rectangle_column_3,
  .rectangle_column_4 {
    box-shadow: 10px 32px 72px 0 rgba(51, 51, 51, 0.06);
    background-color: #fff;
  }
  .button_add {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #fbb612;
  }
  .button_other {
    border: solid 1px #fbb612;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: transparent;
  }
{%- endstyle -%}

{%- liquid

-%}
<div class="multicolumn_section">
  <h3 class="section_title"><strong>DESCRIEREA CURSULUI</strong></h3>
  <div class="Line-3"><hr></div>
  <h4 class="description_1_title"><strong>Cui îi este destinat acest modul?</strong></h4>
  <ul class="description_1">
    <li>
      Oricărui antrenor, preparator, instructor, sau părinte care este implicat în pregătirea sportivă a tinerilor.
    </li>
  </ul>
  <h4 class="description_2_title"><strong>Ce vei învăța în acest modul?</strong></h4>
  <ul class="description_2">
    <li>Cum să maximizezi potențialul de reușită a tinerilor sportivi antrenându-i metodic.</li>
  </ul>
  <div class="flex-container">
    <div class="rectangle_column_1">
      <div class="column_1">
        <h4 class="column_1_title"><strong>1.GENERALITĂȚI</strong></h4>
        <ul>
          <li>Antrenamentul sportiv: proces educativ sau proces de adaptări fiziologice?</li>
          <li>Sportivi: tipuri de personalități întâlnite și modalități de abordare.</li>
          <li>Antrenorul: pedagogia și comunicarea în sport</li>
        </ul>
      </div>
    </div>
    <div class="rectangle_column_2">
      <div class="column_2">
        <h4 class="column_2_title"><strong>2.ETAPELE DEZVOLTĂRII SPORTIVE</strong></h4>
        <ul>
          <li>Vârstele etapelor în diferite sporturi</li>
          <li>Inițierea</li>
          <li>Formarea</li>
          <li>Specializarea</li>
          <li>Înalta performanță</li>
        </ul>
      </div>
    </div>
    <div class="rectangle_column_3">
      <div class="column_3">
        <h4 class="column_3_title"><strong>3.PREGĂTIREA GENERALĂ vs. SPECIALIZAREA TIMPURIE</strong></h4>
        <ul>
          <li>Diferențe și rezultate obținute cu Modelul Rusesc vs. Modelul American</li>
          <li>
            Decizia Chinei în anul 2020 de a forma unele loturi naționale în funcție de rezultatele testelor fizice
            generale, ignorând rezultatele obținute de sportivi în competiții.
          </li>
          <li>
            Fenomenul puseului de creștere a unor tineri sportivi în perioada izolării cauzată de pandemia de Covid.
            Cauze și concluzii
          </li>
        </ul>
      </div>
    </div>
    <div class="rectangle_column_4">
      <div class="column_4">
        <h4 class="column_4_title">
          <strong>4. ANTRENAREA TINERILOR SPORTIVI RESPECTÂND ETAPELE ACESTORA DE DEZVOLTARE.</strong>
        </h4>
        <h5 class="column_4_subtitle"><strong>Teorie si practică:</strong></h5>
        <ul>
          <li>Antrenarea deprinderilor motrice.</li>
          <li>Antrenarea mobilității</li>
          <li>Antrenarea forței și puterii</li>
          <li>Antrenarea rezistenței</li>
          <li>Antrenarea vitezei</li>
          <li>Competițiile sportive</li>
          <li>Planuri de pregătire pe termen lung</li>
        </ul>
      </div>
    </div>
  </div>
  <button class="button_add">
    <a
      role="link"
      aria-disabled="true"
      href="#"
    ></a
    >Adaugă în coș
  </button>
  <button class="button_other">
    <a
      role="link"
      aria-disabled="true"
      href="#"
    ></a
    >Alte Cursuri
  </button>
</div>
{% schema %}
{
  "name": "ISCI multi cols section",
  "class": "section",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "ISCI multi cols section",
      "blocks": []
    }
  ]
}
{% endschema %}
